.chat-input-holder{
  padding: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

}
.chat-input-textarea{
  background-color: #40414f;
  width: 90%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  border-color:none;
  margin: 12px;
  outline: none;
  box-shadow: 0 0px 8px 0 rgba(0,0,0,0.25);
  color: white;
  font-size: 1.25em;
}
.chat-log{
  text-align: left;
  overflow-y: scroll;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.chat-log::-webkit-scrollbar {
  width: 0.25rem;
}

.chat-log::-webkit-scrollbar-track {
  background: #1e1e24;
}

.chat-log::-webkit-scrollbar-thumb {
  background: #6649b8;
}
.chat-message.chatgpt{
  background-color: #444654;
}
.chat-message-center{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  display: flex;
  padding-left:24px;
  padding-right:24px;
}